.login_login{
  width: 100%;
  height: 100%;
  background: url(http://localhost:8001/static/img/login-bg.909c916.png) no-repeat;
  background-size: cover;
  position: fixed;
  .login {
  position: absolute;
  width: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 100%;
  padding-top: 10%;
    .username{
      width: 100%;
    }
}
}

.login_code{
  display: flex;
}
.ant-pro {
  width: 800px;
}
.login_img{
  margin-left: 10px;
}


